<template name="findPlayer">
	<div class="page-header" id="banner">
	  <div class="row">
		<h1>Lookup Player</h1>
	  </div>
	</div>
	  <div class="row">
	    <form id="main" class="main form">
		  <div class="form-group">
			<label class="control-label" for="name">NAME</label>
			<div class="controls">
		        <input name="name" id="name" type="text" value="" placeholder="Player Name" class="form-control" />
		      </div>
		  </div>		  
			<input type="submit" value="Submit" class="btn btn-primary" />
		</form>
	  </div>
</template>